:root {
    --header-color: #a9c8f6;


    
    --main-color-1: #adcbf3;
    --main-color-2: #b0cff8;
    
    --text-color-1: #090f17;
    --text-color-2: #000000;
    --text-color-3: #3f6aa2;
    --text-color-4: #243c5c;
    
}