footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: var(--header-color);

    @media  screen and (max-width: 570px) {
        padding: 20px 40px;
    }

    @media  screen and (max-width: 400px) {
        padding: 20px 20px;
    }

    a {
        text-decoration: none;
        color: var(--text-color-1);

        &:hover {
            color: var(--text-color-4);
            text-decoration: underline;
        }
    }
}