header {

    background-color: var(--header-color);
    padding: 20px 80px;
    position: sticky;
    top: 0;

    nav {

        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            
            p {
                font-size: 32px;
                color: var(--text-color-1);

                &:hover {
                    color: var(--text-color-4);
                }
            }
        }

        ul {
            display: flex;
            gap: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: var(--text-color-1);

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: var(--text-color-3);
                    }   
                }
            }
        }
    }
}