header {

    background-color: var(--header-color);
    padding: 20px 80px;
    position: sticky;
    top: 0;

    @media  screen and (max-width: 570px) {
        padding: 15px 40px;
    }

    @media  screen and (max-width: 400px) {
        padding: 10px 20px;
    }

    nav {

        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;

            p {
                font-size: 32px;
                color: var(--text-color-1);

                @media  screen and (max-width: 480px) {
                    font-size: 24px;
                }

                @media  screen and (max-width: 360px) {
                    font-size: 20px;
                }

                &:hover {
                    color: var(--text-color-4);
                }
            }
        }

        ul {
            display: flex;
            gap: 20px;

            @media  screen and (max-width: 800px) {
                flex-direction: column;
                gap: 5px;
            }

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: var(--text-color-1);

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: var(--text-color-3);
                    }   
                }
            }
        }
    }
}